@model SeoManager.Models.DashBoardViewModel


@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutDashBoard.cshtml";
} 
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Profile</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </div>
            
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-block">
                        <center class="m-t-30">
                            <img src="../assets/images/users/5.jpg" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10 font-bold">
                                @Html.DisplayFor(model=>model.NguoiDungViewModel.Name)
                            </h4>
                            <h6 class="card-subtitle"> @Html.DisplayFor(model => model.NguoiDungViewModel.Email)</h6>
                            <div class="row text-center justify-content-md-center">
                                <div class="col-4"><a href="javascript:void(0)" class="link">Domain <font class="font-medium">@Model.NguoiDungViewModel.DomainAssign</font></a></div>
                                <a href="~/DashBoard/ChooseDomain" class="btn btn-success">Đăng ký domain</a>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-block">
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12 font-bold">Tên đầy đủ</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder=" @Html.DisplayFor(model=>model.NguoiDungViewModel.Name)" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-email" class="col-md-12 font-bold">Email</label>
                                <div class="col-md-12">
                                    <input type="email" placeholder=" @Html.DisplayFor(model=>model.NguoiDungViewModel.Email)" class="form-control form-control-line" name="example-email" id="example-email">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-12 font-bold">Phone No</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder=" @Html.DisplayFor(model=>model.NguoiDungViewModel.Phone)" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 font-bold">Nhận xét về dịch vụ</label>
                                <div class="col-md-12">
                                    <textarea rows="5" class="form-control form-control-line">
Chất lượng dịch vụ rất tốt ...      
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 font-bold">Chọn thành phố</label>
                                <div class="col-sm-12">
                                    <select class="form-control form-control-line">
                                        <option>London</option>
                                        <option>India</option>
                                        <option>Usa</option>
                                        <option>Canada</option>
                                        <option>Thailand</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-success font-bold">Cập nhật</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- Row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
     